@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>Congratulation</div>
<div>You are our 1 000 000 client. Your order is free!!!</div>